@tailwind base;
@tailwind components;
@tailwind utilities;

.springshop ::-webkit-scrollbar {
  width: 10px;
  height: 14px;
}
.springshop ::-webkit-scrollbar-corner {
  background-color: transparent;
}
.springshop ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  background-clip: padding-box;
  border: solid transparent;
  border-radius: 10px;
}
.springshop ::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px;
}

